<div class="mat-app-background basic-container addBook" [hidden]="!isAddingAbook">
<form class="example-form">
	<mat-form-field class="example-full-width">
		<input matInput placeholder="Image URL"  [(ngModel)]="book.imageUrl" name="imageUrl">
	</mat-form-field>
	<mat-form-field class="example-full-width">
		<input matInput placeholder="Title"  [(ngModel)]="book.title" name="title" required>
		<mat-error [hidden]="book.title">{{ErrorMessage}}</mat-error>
	</mat-form-field>
	<mat-form-field class="example-full-width">
		<input matInput placeholder="Author"  [(ngModel)]="book.author" name="author" required>
		<mat-error [hidden]="book.author">{{ErrorMessage}}</mat-error>
	</mat-form-field>
	<mat-form-field class="example-full-width">
		<input matInput placeholder="date" type="date"  [(ngModel)]="book.date" name="date">
	</mat-form-field>

  <mat-form-field class="example-full-width">
    <textarea matInput placeholder="Summary" [(ngModel)]="book.summary" name="summary" ></textarea>
  </mat-form-field>


<button mat-stroked-button color="warn" class="btn" (click)="Cancel()">Cancel</button>
<button mat-stroked-button color="primary" (click)="Save()">Save</button>
</form>
</div>
<div [hidden]="isAddingAbook">
	<button mat-stroked-button (click)="isAddingAbook=!isAddingAbook" style="float:left;">Add a new book</button>
	<div style="text-align:right;">
	<mat-form-field class="selectSort" >
		<mat-select placeholder="Sort by">
			<mat-option *ngFor="let cat of categories" [value]="cat.value">
				{{cat.viewValue}}
			</mat-option>
		</mat-select>
	</mat-form-field>
	<mat-form-field>
		<input matInput placeholder="Search">
	</mat-form-field>
	</div>
	
</div>
<div [hidden]="isAddingAbook">
	<button mat-icon-button (click)="goPrevPage()" [hidden]="!hadPrev()" ><</button> 
	{{nbrPageCurrent}}/{{nbrTotPage}}
	<button mat-icon-button (click)="goNextPage()"[hidden]="!hadNext()">></button>

	<div *ngFor="let book of books; let i = index" >
	<!--display mode -->
	<div *ngIf="isOk(i)" [hidden]="book.editingMode">
		<mat-grid-list cols="5" >
			<mat-grid-tile colspan=1 rowspan=1>
				<img class="cover" src="{{book.imageUrl}}" alt="{{book.title}}">    
			</mat-grid-tile>
			<mat-grid-tile colspan=1 rowspan=1 >
				<p class="bookInfo">
					<span class="title">{{book.title}}</span>
					<br/>by {{book.author}}, <br/> {{book.date | date}}
				</p>
			</mat-grid-tile>
			<mat-grid-tile colspan=2 rowspan=1 >
			<span [hidden]="book.summary.length===0" class="summary" [style.overflow]="'auto'" [style.height.px]="'200'">
				Summary : <br/>{{book.summary }}
			</span>
			<span [hidden]="book.summary.length>0">
			Sorry, there is no summary available
			</span>
			</mat-grid-tile>
			<mat-grid-tile colspan=1 rowspan=1>
			<button mat-button (click)="book.editingMode=true">modify</button>
			<button mat-button (click)="deleteElement()" [hidden]="!isAdmin">Delete</button>
			</mat-grid-tile>
		</mat-grid-list>
	<span><br/></span>
	</div>

	<!--editing mode-->
	<div *ngIf="isOk(i)" [hidden]="!book.editingMode">
		<mat-grid-list cols="5">

			<mat-grid-tile colspan=1 rowspan=1>
				<input type="text" class="form-control" [(ngModel)]="book.imageUrl"  placeholder="imageUrl">   
			</mat-grid-tile>
			<mat-grid-tile colspan=1 rowspan=1 >
				<p class="bookInfo">
					<input type="text" class="form-control" id="title" [(ngModel)]="book.title" name="title" placeholder="title">
					<br/> 
					<input type="text" class="form-control" id="author" [(ngModel)]="book.author" name="author" placeholder="author">
					<br/>
					<input type="date" class="form-control" id="author" [(ngModel)]="book.date" name="date" placeholder="date">
				</p>
			</mat-grid-tile>
			<mat-grid-tile colspan=2 rowspan=1 >
				<textarea  rows="6" class="form-control" id="summary" [(ngModel)]="book.summary" name="summary" placeholder="summary"></textarea>
			</mat-grid-tile>
			<mat-grid-tile colspan=1 rowspan=1>
			<button mat-button (click)="book.editingMode=false">Stop Modify</button>
			<button mat-button (click)="deleteElement()" [hidden]="!isAdmin">Delete</button>
			</mat-grid-tile>

		</mat-grid-list>
	<span><br/></span>
	</div>

	</div>
	<button mat-icon-button (click)="goPrevPage()" [hidden]="!hadPrev()" ><</button> 
	{{nbrPageCurrent}}/{{nbrTotPage}}
	<button mat-icon-button (click)="goNextPage()"[hidden]="!hadNext()">></button>
</div>