.example-card {
  max-width: 800px;
}

.imgAvatar {
	height:100px;
	text-align : left;
}
.cover {
	height:200px;
}
.summary{
	text-align: justify;
}
.title{
	color:red;
}
.bookInfo{
	text-align:left;
	padding:5px;
}
.example-container {
  display: flex;
  flex-direction: column;
}

.example-container > * {
  width: 100%;
}





.example-form {
  min-width: 150px;
  max-width: 500px;
  width: 100%;
}

.example-full-width {
  width: 100%;
}
.btn{
	margin:10px;
}
.addBook{
	
	display: inline-block;
}


.selectSort{
	margin:10px;
}
