.cover {
	height:200px;
}
.summary{
	text-align: justify;
}
.title{
	color:red;
}
.bookInfo{
	text-align:left;
	margin:5px;
}

.form-addBook {
  min-width: 150px;
  max-width: 500px;
  width: 100%;
}

.full-width {
  width: 100%;
  margin:10px;
}
.btn{
	margin:10px;
}
.addBook{
	display: inline-block;
}

