<div class="mat-app-background basic-container addBook" [hidden]="!isAddingAbook">
<form class="form-addBook">
	<mat-form-field class="full-width">
		<input matInput placeholder="Image URL"  [(ngModel)]="book.imageUrl" name="imageUrl">
	</mat-form-field>
	<mat-form-field class="full-width">
		<input matInput placeholder="Title"  [(ngModel)]="book.title" name="title" required>
		<mat-error [hidden]="book.title">{{ErrorMessage}}</mat-error>
	</mat-form-field>
	<mat-form-field class="full-width">
		<input matInput placeholder="Author"  [(ngModel)]="book.author" name="author" required>
		<mat-error [hidden]="book.author">{{ErrorMessage}}</mat-error>
	</mat-form-field>
	<mat-form-field class="full-width">
		<input matInput placeholder="date" type="date"  [(ngModel)]="book.date" name="date">
	</mat-form-field>

  <mat-form-field class="full-width">
    <textarea matInput placeholder="Summary" [(ngModel)]="book.summary" name="summary" ></textarea>
  </mat-form-field>


<button mat-stroked-button color="warn" class="btn" (click)="Cancel()">Cancel</button>
<button mat-stroked-button color="primary" (click)="Save()">Save</button>
</form>
</div>
<div [hidden]="isAddingAbook">
	<button mat-stroked-button (click)="isAddingAbook=!isAddingAbook" style="float:left;">Add a new book</button>
	<div style="text-align:right;">
	<mat-form-field style="margin:10px;" >
		<mat-select placeholder="Sort by">
			<mat-option *ngFor="let cat of categories" [value]="cat.value">
				{{cat.viewValue}}
			</mat-option>
		</mat-select>
	</mat-form-field>
	<mat-form-field>
		<input matInput placeholder="Search">
	</mat-form-field>
	</div>
	
</div>
<div [hidden]="isAddingAbook">
	<button mat-icon-button (click)="goPrevPage()" [hidden]="!hadPrev()" ><mat-icon>keyboard_arrow_left</mat-icon></button> 
	{{nbrPageCurrent}}/{{nbrTotPage | number: '1.0-0'}}
	<button mat-icon-button (click)="goNextPage()"[hidden]="!hadNext()"><mat-icon>keyboard_arrow_right</mat-icon></button>

	<div *ngFor="let book of books; let i = index" >
	<!--display mode -->
	<div *ngIf="isOk(i)" [hidden]="book.editingMode">
		<mat-grid-list cols="5" >
			<mat-grid-tile colspan=1 rowspan=1>
				<img class="cover" src="{{book.imageUrl}}" alt="{{book.title}}">    
			</mat-grid-tile>
			<mat-grid-tile colspan=1 rowspan=1 >
				<p class="bookInfo">
					<span class="title">{{book.title}}</span>
					<br/>by {{book.author}}, <br/> {{book.date | date}}
				</p>
			</mat-grid-tile>
			<mat-grid-tile colspan=2 rowspan=1 >
			<span [hidden]="book.summary.length===0" class="summary" [style.overflow]="'auto'" [style.height.px]="'200'">
				Summary : <br/>{{book.summary }}
			</span>
			<span [hidden]="book.summary.length>0">
			Sorry, there is no summary available
			</span>
			</mat-grid-tile>
			<mat-grid-tile colspan=1 rowspan=1>
			<button mat-button (click)="book.editingMode=true">Modify</button>
			<button mat-button (click)="deleteElement()" [hidden]="!isAdmin">Delete</button>
			</mat-grid-tile>
		</mat-grid-list>
	<span><br/></span>
	</div>

	<!--editing mode-->
	<div *ngIf="isOk(i)" [hidden]="!book.editingMode">
		<mat-grid-list cols="5">

			<mat-grid-tile colspan=1 rowspan=1>
				<mat-form-field class="full-width">
					<input matInput placeholder="Image URL"  [(ngModel)]="book.imageUrl" name="imageUrl">
				</mat-form-field> 
			</mat-grid-tile>
			<mat-grid-tile colspan=1 rowspan=1 >
				<p class="bookInfo">
					<mat-form-field class="full-width">
						<input matInput type="text"  [(ngModel)]="book.title" placeholder="Title">
					</mat-form-field>
					<mat-form-field class="full-width">
						<input matInput type="text"  [(ngModel)]="book.author" placeholder="Author">
					</mat-form-field>
					<mat-form-field class="full-width">
						<input matInput type="date"   [(ngModel)]="book.date" placeholder="Date">
					</mat-form-field>
				</p>
			</mat-grid-tile>
			<mat-grid-tile colspan=2 rowspan=1 >
				<mat-form-field class="full-width">
					<textarea matInput rows="8" placeholder="Summary" [(ngModel)]="book.summary" name="summary" ></textarea>
				</mat-form-field>
			</mat-grid-tile>
			<mat-grid-tile colspan=1 rowspan=1>
			<button mat-button (click)="book.editingMode=false">Stop Modify</button>
			<button mat-button (click)="deleteElement()" [hidden]="!isAdmin">Delete</button>
			</mat-grid-tile>

		</mat-grid-list>
	<span><br/></span>
	</div>

	</div>
	<button mat-icon-button (click)="goPrevPage()" [hidden]="!hadPrev()" ><mat-icon>keyboard_arrow_left</mat-icon></button> 
	{{nbrPageCurrent}}/{{nbrTotPage | number: '1.0-0'}}
	<button mat-icon-button (click)="goNextPage()"[hidden]="!hadNext()"><mat-icon>keyboard_arrow_right</mat-icon></button>
</div>